<!DOCTYPE html>
<html>
  <head>
    <title>KingKunta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ol>
        <% if logged_in  %>
          <%= render "shared/nav" %>
        <% end  %>


    </ol>
    <%= yield %>
  </body>
</html>
